<label class="category-checkbox" style="border-color: <%= category.getColor('category.color') %>">
	<input type="checkbox" value="<%= category.slug %>" name="categories"> <%= category.getText('category.name') %>
</label>
