<article class="recipe">
  <a href="/recipe/<%= recipe.slug %>">
    <h2 id="<%= recipe.slug %>"><%= recipe.getStructuredText('recipe.dish').asText() %></h2>
  </a>
  <div class="meta">
    <p><%= recipe.getText('recipe.preparation-time') %></p>
  </div>
</article>
