:root {
	--brblack: #002b36;
	--black: #073642;
	--white: #eee8d5;
	--brwhite: #fdf6e3;
	--yellow: #b58900;
	--brred: #cb4b16;
	--red: #dc322f;
	--magenta: hsla(331, 100%, 72%, 1);
	--brmagenta: #6c71c4;
	--blue: #268bd2;
	--cyan: #2aa198;
	--green: #859900;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;

	font-family: 'Spectral',
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol";
	font-variant: common-ligatures;
	font-kerning: normal;
	line-height: 1.45;
	color: var(--brblack);
}

h1 {
	font-size: 4.236em;
	line-height: 1.2;
	margin: 1em 0;
}

h2 {
	font-size: 2.618em;
	line-height: 1.2;
	margin: 1em 0;
}

h3 {
	font-size: 1.618em;
	line-height: 1.2;
	margin: 1em 0;
}

p {
	max-width: 35em;
	max-width: 70ch;
}

strong {
	font-weight: 600;
}

body > main {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	margin: 0 auto;
	padding-bottom: 20vh;
	max-width: 90em;
	min-height: 100vh;
	background-color: hsla(0, 100%, 100%, 0.95);
}

form {
	display: flex;
	flex-flow: column nowrap;
}

fieldset {
	border: 0;
	padding: 0;
}

legend {
	font-size: 1.618em;
}

form div {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	margin-bottom: 1em;
	max-width: 35em;
	max-width: 70ch;
}

label {
	font-weight: 600;
}

input, textarea, button, select, option {
	font-size: inherit;
	font-family: inherit;
}

input[type="text"], input[type="password"], input[type="url"] {
	padding: 0.25em;
}

.range {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	font-weight: 400;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	background: var(--magenta);
	color: var(--brblack);
}

.home {
	flex-flow: column nowrap;
	align-items: stretch;
}

.introduction {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-bottom: 5vh;
	padding: 0 4vw;
	font-size: 1.5em;
}

.introduction p {
	margin: 1.5em 0;
}

.logo {
	padding: 0 4vw;
}

.lazy-chef {
	position: relative;
	margin: 0.25em 0 0.65em;
	font-family: 'Playfair Display', serif;
	font-size: calc(4.5em + 2.5vw);
	font-weight: 900;
	line-height: 1;
	color: var(--magenta);
}

.lazy-chef span {
	position: absolute;
	top: .4em;
	left: -.25em;
	color: var(--brblack);
	mix-blend-mode: multiply;
}

@media screen and (min-width: 56.25em) {
	.lazy-chef span {
		left: -.5em;
	}
}

.login-register {
	display: flex;
	margin: -4em;
	flex-flow: row wrap;
	justify-content: center;
}

.login-register > div {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
	flex: 0 1 20em;
	min-height: 14em;
	margin: 4em;
	perspective: 5em;
}

.login-register h2 {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	font-size: 4.236em;
	line-height: 1;
	white-space: nowrap;
	color: var(--brblack);
	transform: translate(-.5em, -50%);
	transform-origin: center left;
	mix-blend-mode: multiply;
}

.login-register a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 100%;
	text-align: center;
	text-decoration: none;
	font-weight: 800;
	font-size: 1.618em;
	color: var(--brblack);
	background-color: hsla(331, 100%, 72%, 0.7);
	transition: transform 100ms linear;
}

.login-register a:hover, .login-register a:focus {
	transform: rotate(-0.01turn) translateZ(0.5em);
}

.messages {
	background-color: var(--red);
	padding: .25em 1.5em;
	margin: 0 0 2vh;
}

.messages p {
	margin: .5em 0;
	color: var(--brwhite);
}

/*h1, h2, h3 {
	font-weight: 600;
}

h2 {
	letter-spacing: 0.05em;
	margin-bottom: 0;
	font-size: 2.25em;
}

p {
	max-width: 35em;
	margin: 1.5em 0;
}

.home {
	display: flex;
	flex-flow: column nowrap;

	max-width: 35em;

	margin: 0 auto;
	padding: 2.5vmin 2vmax;
}



.home .lazy-chef {
	font-size: calc(2em + 2.5vw);
}

.home p:first-of-type {
	position: relative;
	margin-top: 3em;
	text-align: justify;
}

.home p:first-of-type::after {
	content: '';

	position: absolute;
	top: -1.25em;
	left: 0;

	width: 5em;
	height: .15em;

	background-color: var(--red);
}

.home a {
	display: inline-block;
	padding: 2vmin 2vmax;
	background-color: var(--red);
	color: var(--white);
	text-decoration: none;
	transition: all 120ms ease-out;
}

.home a:hover,
.home a:focus {
	outline: 4px dotted var(--brwhite);
}

.recipes {
	max-width: 80vw;
	margin: 0 auto;
}

.recipes ul {
	list-style-type: none;
	margin: -1em;
	padding: 0;

	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
}

.recipes li {
	flex: 0 15em;
	margin: 1em;
	background-color: var(--brwhite);
	border-radius: 0.5em;
	padding: 0.5em 0.75em;
}

.recipes h2 {
	font-size: 1.25em;
	margin: 0 0 .25em;
}

.meta {
	font-size: 0.75em;
	display: flex;
	flex-flow: row wrap;
}

.recipes a {
	color: var(--black);
	text-decoration: none;
}

.meta p {
	background: var(--red);
	color: var(--brwhite);
	border-radius: 0.25em;
	padding: 0 .25em;
	margin: 0 .25em;
}

.recipe {
	max-width: 80vw;
	margin: 0 auto;
}

.category-selection {
	display: flex;
	flex-flow: column nowrap;

	max-width: 35em;

	margin: 0 auto;
	padding: 2.5vmin 2vmax;
}

.category-selection h2 {
	letter-spacing: -0.025em;
}

.category-selection p {
	margin-top: 0.5em;
}

.category-selection fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.category-selection legend {
	margin: 0 0 .5em;
	letter-spacing: 0.05em;
	font-family: Spectral;
	font-variant: small-caps;
}

.category-selection .categories {
	display: flex;
	flex-flow: column nowrap;
}

.category-selection label {
	border-top: 3px solid var(--brwhite);
	background: var(--brwhite);
	color: var(--brblack);
	margin: .15em 0;
	padding: .5em;
	max-width: 20em;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.category-selection label [type="checkbox"] {
	margin-right: 1em;
}

.category-selection [type="submit"] {
	margin-top: 1em;
	font-size: inherit;
	font-family: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	padding: 2vmin 2vmax;
	background-color: var(--red);
	color: var(--white);
	text-decoration: none;
	transition: all 120ms ease-out;
}

.category-selection [type="submit"]:hover,
.category-selection [type="submit"]:focus {
	outline: 4px dotted var(--brwhite);
}*/
