<%- include('./application/head') %>

	<main class="home">
		<section class="introduction">
			<%- include('./components/logo') %>
			<p>We know you're lazy. This will help you plan your meals and grocery shopping for the week! Get <strong>recipes and a shopping</strong> list with the click of a button.</p>
		</section>
		<section class="login-register">
			<div>
				<h2>New here?</h2>
				<a href="/auth/register">Get started</a>
			</div>
			<div>
				<h2>Already lazy?</h2>
				<a href="/auth/login">Log in</a>
			</div>
		</section>
		</ul>
	</main>

<%- include('./application/foot') %>
