<%- include('./application/head') %>

	<main class="home">
		<h1 class="lazy-chef">Lazy <span>Chef</span></h1>
		<p>We know you're lazy. This will help you plan your meals and grocery shopping! Get five recipes and a grocery shopping list for the week with the click of a button.</p>
		<p><a href="/recipe/all">Get started</a></p>
	</main>

<%- include('./application/foot') %>
