<%- include('application/head') %>

<main class="recipes">
	<h1>All recipes</h1>
	<ul>
	<% recipes.forEach(recipe => { %>
		<li>
			<%- include('recipe-brief', {recipe}) %>
		</li>
	<% }) %>
	</ul>
</main>

<%- include('application/foot') %>
