<%- include('application/head') %>

<main>
	<section>
		<%- include('./components/logo') %>
	</section>
	<section class="form form--register">
		<h2>Time to get lazy</h2>
		<p>Fill in your details below to create an account.</p>
		<%- include('components/messages.ejs') %>
		<form action="/auth/register" method="post">
	    <div>
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="firstName" />
	    </div>
	    <div>
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="lastName" />
	    </div>
	    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
	    </div>
	    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
	    </div>
	    <div>
        <input type="submit" value="Create account" />
	    </div>
		</form>
	</section>
</main>

<%- include('application/foot') %>
