<%- include('../application/head') %>

	<section class="category-selection">
		<h2>What would you like to eat?</h2>
		<p>Pick the categories you want to receive recipes from.</p>
		<form action="/categories" method="POST">
			<fieldset>
				<legend>Categories</legend>
				<div class="categories">
					<% categories.forEach(category => { %>
						<%- include('../components/categoryCheckbox', {category}) %>
					<% }) %>
				</div>
			</fieldset>
			<input type="submit" value="Select categories">
		</form>
	</section>

<%- include('../application/foot') %>
