article {
	display: flex;
	flex-flow: column nowrap;

	max-width: 35em;

	margin: 0 auto;
	padding: 2.5vmin 2vmax;
}

h1 {
	display: inline-block;
	position: relative;

	margin: 0 0 .25em .25em;
	margin-left: .25em;

	font-family: 'Abril Fatface', cursive;
	font-size: calc(5em + 12.5vw);
	font-weight: 300;
}

h1 span {
	position: absolute;
	top: .4em;
	left: -.25em;
	color: var(--red);
}

@media screen and (min-width: 56.25em) {
	h1 {
		margin-left: 0;
	}

	h1 span {
		left: -.5em;
	}
}

p {
	max-width: 35em;
	margin: 1.5em 0;
}

p:first-of-type {
	position: relative;
	margin-top: 3em;
	text-align: justify;
}

p:first-of-type::after {
	content: '';

	position: absolute;
	top: -1.25em;
	left: 0;

	width: 5em;
	height: .15em;

	background-color: var(--red);
}

p:last-of-type {
	margin-top: 0;
	text-align: center;
}

a {
	display: inline-block;
	padding: 2vmin 2vmax;
	background-color: var(--red);
	color: var(--white);
	text-decoration: none;
	transition: all 120ms ease-out;
}

a:hover,
a:focus {
	outline: 4px dotted var(--brwhite);
}
