<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lazy Chef</title>
  <link href="https://fonts.googleapis.com/css?family=Spectral:400,600|Playfair+Display:700,900" rel="stylesheet">
  <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
	<% if (messages) { %>
	<section class="messages">
		<% messages.forEach(msg => { %>
			<p><%= msg %></p>
		<% }) %>
	</section>
	<% } %>
